<!DOCTYPE html>
<html lang="en">
 <head>
  <title>
   displaCy
  </title>
 </head>
 <body style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr">
  <li>
   <ul>
    tier:Premier
   </ul>
   <ul>
    name:MDL Chengdu Major
   </ul>
   <ul>
    <a href="https://liquipedia.net/commons/images/8/8a/MDL_logo_small.png">
     https://liquipedia.net/commons/images/8/8a/MDL_logo_small.png
    </a>
   </ul>
   <ul>
    dates:Nov 16 - 24, 2019
   </ul>
   <ul>
    prize_pool:1000000
   </ul>
   <ul>
    teams:16
   </ul>
   <ul>
    host_location:China
   </ul>
   <ul>
    event_location:Chengdu
   </ul>
   <br/>
  </li>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    IG continue to look like one of the best teams in the world after winning the Dota Summit 11 Minor and then finishing third at the
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     MDL Chengdu Major
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    last month.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    With today’s win at the
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     MDL Chengdu Major
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    , they’ve put themselves in pole position in the 2019-2020 Dota Pro Circuit and have all but guaranteed their attendance at The International 2020.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    TNC Predator took apart Invictus Gaming in the lower bracket final of the
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     MDL Chengdu Major
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    2-0.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    The series between Invictus Gaming and Evil Geniuses at the
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     MDL Chengdu Major
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    saw three stomps played in a row.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    The Chinese Dota 2 team fell in the qualifiers for the
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     MDL Chengdu Major
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    and had to take the hard route here by winning the Dota Summit 11 Minor.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    It’s the same story at the ongoing
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     MDL Chengdu Major
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    , where Gambit Esports and Team Spirit both finished dead last.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    Vici Gaming started off hot at the
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     MDL Chengdu Major
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    and have yet to meet a Dota 2 team that can truly challenge them.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    Team Aster destroyed Gambit Esports in a best-of-one in the lower bracket of the
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     MDL Chengdu Major
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    .
   </div>
  </figure>
 </body>
</html>