<!DOCTYPE html>
<html lang="en">
 <head>
  <title>
   displaCy
  </title>
 </head>
 <body style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr">
  <li>
   <ul>
    name:Fnatic
   </ul>
   <ul>
    aliases:[]
   </ul>
   <ul>
    Location:United Kingdom
   </ul>
   <ul>
    Region:South East Asia
   </ul>
   <ul>
    <a href="https://liquipedia.net/dota2/Fnatic">
     https://liquipedia.net/dota2/Fnatic
    </a>
   </ul>
   <br/>
  </li>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    The second pair of matches in Odense was headlined by a match between two top-five sides, which turned out to be a one-sided affair as Evil Geniuses made light work of
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     fnatic
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    on Mirage.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    As the month came to a close, Lukas "gla1ve" Rossander's squad traveled to the other side of the globe to the ECS Season 8 Finals and added another trophy to their cabinet (when it gets out of customs, anyway), defeating all of the other top-four teams in the process in
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     fnatic
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    , Evil Geniuses and Liquid, to solidify their spot at the top and maximize their points at 1,000 — an amount they had not had for over six months (April 29).
   </div>
  </figure>
 </body>
</html>