<!DOCTYPE html>
<html lang="en">
 <head>
  <title>
   displaCy
  </title>
 </head>
 <body style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr">
  <li>
   <ul>
    name:Invictus Gaming
   </ul>
   <ul>
    aliases:['IG']
   </ul>
   <ul>
    Location:China
   </ul>
   <ul>
    Region:China
   </ul>
   <ul>
    <a href="https://liquipedia.net/dota2/Invictus_Gaming">
     https://liquipedia.net/dota2/Invictus_Gaming
    </a>
   </ul>
   <br/>
  </li>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    TNC Predator took apart
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
     Invictus Gaming
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    in the lower bracket final of the MDL Chengdu Major 2-0.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    The series between
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
     Invictus Gaming
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    and Evil Geniuses at the MDL Chengdu Major saw three stomps played in a row.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    It hasn’t been the easiest of roads for
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
     Invictus Gaming
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    .
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    EG are now guaranteed a top-four finish at the Major and will play the winner of J
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
     Storm and
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    Invictus Gaming at 5am CT on Nov. 23 to see who will make it into the top three.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
     Invictus Gaming
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    denies TheShy transfer rumors and threatens to take legal action
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    FunPlus Phoenix dismantled
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
     Invictus Gaming
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    in the Worlds 2019 semifinals this morning, usurping the former League of Legends world champions and eliminating them from the tournament.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    FunPlus Phoenix took down defending champions
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
     Invictus Gaming
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    3-1 today during the League of Legends World Championship semifinals and will now move to the final leg of the tournament.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    Next week FPX will face their fellow LPL representative and reigning World Champions,
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
     Invictus Gaming
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    in the semifinals.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    In their rematch against
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
     Invictus Gaming
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    , DAMWON were playing around their vision to respond to any early aggression by IG while using Kim “Canyon” Geon-bu to set up plays of their own.
   </div>
  </figure>
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
     Invictus Gaming
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    qualify for Worlds 2019 semifinals after defeating Griffin in 4 games
   </div>
  </figure>
 </body>
</html>